
Godot_Main/.import/IMG_9579.PNG-1bf8b7020e0f18dff307a43db89f0279.md5
Godot_Main/.import/IMG_9579.PNG-1bf8b7020e0f18dff307a43db89f0279.stex
Godot_Main/assets/IMG_9579.PNG.import
Godot_Main/assets/player_earth_stick.png.import
